loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
*elpa*
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
session*
tramp
\#*
\.#*
*~
*pyc
images/
other/
bbdb
lookup
*mandoku*
*user*
mandoku-settings.el
mandoku-settings.org
*.pyg
*.tex
*.aux
*.lof
*.lot
*.log
*.spl
bookmarks
.python-version
